html,
body {
  padding: 0;
  margin: 0;
}

body {
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 4px;
}
input {
  display: block;
  min-width: 95%;
  margin-bottom: 10px;
}

a.help-icon {
  color: #fff;
  background-color: #2233cc;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.25);
}

#harvest_help_box {
  background-color: #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
